<h1>Squawker (&lt; </h1>
Squawk into the void!
Squawker is automated social, it will tweet from a queue at configurable intervals.
Add "fill" to maintain your persona and pollute the twittersphere while you are too busy/forever-alone to participate in social!
We must resist when robots rule the world.
Squawker (&lt;