<h1>Squawks</h1>
<% @squawks = { :queued => @queued, :fill => @fill, :completed => @completed } %>
<% @squawks.each_pair do |key, listings| %>

<h2><%= key.to_s %></h2>

    <%if listings.is_a? Hash%>
        <% listings.each do |k, v| %>
            <p class="clear"><div class="listing_number left"><%= k%>:</div> <div class="listing right"><%= v%></div></p>
        <% end %>
        <br />
    <% end %>

<%end%>